// THIRD SECTION (PROJECTS)
.project01,
.project02,
.project03,
.project04,
.project05 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5%;
    padding: 0.5%;
    border: 3px solid $purple;
}

.project02,
.project04 {
    flex-direction: row-reverse;
}

.project-image-box {
    width: 45%;

    img {
        width: 100%;
    }
}

.project-text-box {
    width: 53%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h4 {
        margin: 2%;
    }

    p {
        margin: 3% 0 0 3%;
    }
}

.link-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 2px solid $purple;
    
    div {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 5%;

        a {
            font-size: 1.2rem;
            font-weight: 600;
            color: $purple;
            text-decoration: none;
        }

        a:hover,
        a:focus {
            color: $hover-color;
        }
    }

    .pro04-tools {
        display: flex;
        flex-wrap: wrap;
    }
}

// MEDIA QUERIES
@media(max-width: 1000px) {
    .project-text-box p {
        font-size: 1rem;
    }

    .link-box div a {
        font-size: 1.1rem;
    }
}

@media(max-width: 800px){
    .section-three h3 {
        text-align: center;
        margin-bottom: 2%;
    }

    .project-image-box,
    .project-text-box {
        flex-direction: column;
        width: 100%;
    }
}