// GENERAL SETUP STYLES
html {
    margin: 0;
    padding: 0;
    font-size: 125%;
    scroll-behavior: smooth;
}

body {
    font-family: $title-font;
}

.wrapper {
    max-width: 1080px;
    width: 80%;
    margin: 0 auto;
}

// BASIC TEXTS
h1 {
    font-size: 3.4rem;
    margin-top: 15%;
    margin-bottom: 3%;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.9rem;
}

h4 {
    font-size: 1.7rem;
}

p {
    font-family: $main-font;
    font-size: 1.1rem;
    letter-spacing: 1px;
}