$main-font: "Poppins", sans-serif;
$title-font: "Raleway", sans-serif;
$logo-font: "Alex Brush", cursive;
$white: whitesmoke;
$purple: mediumpurple;
$hover-color: darkslateblue;

@import "normalize";
@import "typography";
@import "nav";
@import "about-section";
@import "project-section";
@import "contact-section";

// HEADER AND FOOTER
header {
    height: 95vh;
    background-image: url(../assets/image01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
    h2 {
        padding-bottom: 10%;
        margin-bottom: 0;
        font-family: $main-font;
        line-height: 40px;
    }
}

.transparent {
    background: rgba(255, 255, 255, 0.6);
    height: 95vh;
}

.scroll {
    color: $purple;
    font-size: 4rem;
    height: 60px;
    position: absolute;
    left: 50%;
    bottom: -2%;
    cursor: pointer;
    animation: scroll 1.2s ease-in-out infinite;
}

@keyframes scroll {
    from {transform: translateY(-10%);}
    to {transform: translateY(30%);}
}

.intro {
    width: 60%;
}

footer p {
    text-align: center;
    margin: 2% 0;
    font-family: $title-font;
    font-size: 1rem;
}

@media(max-width: 1185px) {

    .intro {
        width: 100%;
        
        h2 {
            width: 100%;
            font-size: 1.3rem;
        }
    }
    
}

@media(max-width: 750px) {
    .intro {
        display: flex;
        flex-direction: column;
        text-align: center;

        h1 {
            font-size: 3rem;
        }
    }
}

@media(max-width: 600px) {
    .logo {
        font-size: 4rem;
    }
        
    h2 {
        font-size: 1.1rem;
        width: 100%;
    }

    footer p {
        font-size: 0.9rem;
    }
}
