html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  margin: 0;
  padding: 0;
  font-size: 125%;
}

body {
  font-family: "Raleway", sans-serif;
}

.wrapper {
  max-width: 1080px;
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 3.2rem;
  margin-top: 10%;
  margin-bottom: 3%;
}

h2,
h4 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.8rem;
}

p {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav li {
  list-style: none;
  margin: 0 20px;
}
nav a {
  font-size: 1.3rem;
  color: mediumpurple;
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  color: mediumpurple;
}

nav li a:hover,
nav li a:focus {
  color: darkslateblue;
}

.hamburger {
  display: none;
  margin: 1%;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background-color: mediumpurple;
  margin: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 800px) {
  nav {
    padding-top: 2%;
  }

  .menu-hide {
    position: fixed;
    left: -100%;
    top: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.9);
    text-align: center;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .menu-hide li {
    margin: 1rem;
  }

  .menu-hide.active {
    left: 0;
  }

  .hamburger {
    display: block;
  }

  .active .line-one {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
    background-color: mediumpurple;
  }

  .active .line-two {
    opacity: 0;
  }

  .active .line-three {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
    background-color: mediumpurple;
  }
}
.section-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-one a {
  color: mediumpurple;
}
.section-one a:hover {
  color: darkslateblue;
}

.image-box {
  width: 300px;
  margin: 5%;
}
.image-box img {
  width: 300px;
  border-radius: 50%;
}

.section-two {
  background-color: whitesmoke;
  padding-top: 3%;
  padding-bottom: 5%;
}
.section-two h3 {
  margin: 0;
  margin-bottom: 3%;
}

.skill-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.skill-icon {
  width: 100px;
  height: 60px;
}
.skill-icon:hover {
  color: mediumpurple;
}

.project01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  border: 2px solid red;
}

.project-image-box {
  width: 45%;
  margin-right: 2%;
  border: 2px solid yellow;
}
.project-image-box img {
  width: 100%;
}

.project-text-box {
  width: 52%;
  border: 2px solid purple;
}

.link-box {
  border: 2px solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.link-box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  height: 65vh;
  background-color: whitesmoke;
}
header h2 {
  width: 60%;
  font-family: "Poppins", sans-serif;
}